@font-face {
    font-family: 'Ponnala', sans-serif;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/ponnala.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: flex;
}

body {
    background: white;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.pointer {
    cursor: url('../pointer.svg'), default;
}

button {
    background-color: transparent;
    border: none;
    cursor: url('../pointer.svg'), default;
    transition: all 0.3s;
}

a {
    transition: all 0.3s;
    text-decoration: none;
}

ul {
    list-style: none;
}

.relative {
    position: relative;
}

.absalute {
    position: absolute;
}

/* === HEADER STYLES START === */

.header {
    background: #D1808F;
    padding: 24px 0 4px 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px 0 16px;
}

.header__container {
    max-width: 1244px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 141px;
    height: 45px;
}

.nav__list {
    justify-content: start;
    align-items: center;
    gap: 50px;
    transition: all 0.5s;
    z-index: 999;
}

.nav__link {
    font-family: 'Ponnala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 31.62px;
    color: #fff;
    padding-bottom: 4px;
}

.nav__link:hover {
    color: #deec61;
    border-color: #deec61;
}

.header__active {
    border-bottom: 2px solid #FFFFFF;
}

.header__icons {
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.header__search,
.header__user,
.header__follow,
.header__burger {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__responsive {
    display: none;
}

.header__close__btn {
    width: 30px;
    height: 30px;
    display: none;
}

.header__search_input {
    width: 20%;
    position: absolute;
    top: 24px;
    height: 41px;
    border: none;
    right: 210px;
    z-index: 2;
    padding: 15px;
    color: gray;
    outline: none;
    border-radius: 24px;
    box-shadow: 0 0 15px 0 rgb(226, 97, 162);
    display: none;
    z-index: 999;
}

.search__close {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: none;
    z-index: 99;
}

@media (max-width: 900px) {
    .header__search_input {
        right: 12px;
        width: 65%;
        top: 18px;
    }

    .header {
        padding: 18px 0;
    }

    .header__logo {
        width: 118px;
        height: 38px;
    }

    .header__close__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25px;
        right: 20px;
    }

    .nav__list {
        position: fixed;
        width: 50%;
        min-height: 100vh;
        flex-direction: column;
        background: #c0475d;
        right: -100%;
        top: 0;
        gap: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
    }

    .nav__item {
        border-bottom: 1px solid white;
        width: 100%;
        text-align: left;
    }

    .header__active {
        border: none;
    }

    .header__responsive {
        display: flex;
    }

    .r__hidden {
        display: none;
    }

    .header__icons {
        gap: 10px;
    }
}

/* === HEADER STYLES END === */

/* === HERO STYLES START === */

.hero {
    padding: 4px 0px 22px 0;
    background: #D1808F;
}

.hero__container {
    max-width: 1244px;
    gap: 76px;
    align-items: center;
    justify-content: start;
}

.hero__img {
    max-width: 420px;
    max-height: 630px;
    display: flex;
}

.hero__info {
    max-width: 590px;
}

.hero__mini__title {
    font-family: Ponnala, sans-serif;
    color: #FFFFFF;
    margin-bottom: 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.6px;
    text-align: center;
}

.hero__title {
    font-family: Ponnala, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 84.33px;
    color: #fff;
    margin-bottom: 4px;
}

.hero__text {
    font-family: Ponnala, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 42.16px;
    color: #fff;
    margin-bottom: 25px;
}

.hero__btn {
    font-family: Ponnala, sans-serif;
    color: #6A2346;
    font-size: 20px;
    font-weight: 400;
    line-height: 35.14px;
    border-bottom: 2px solid #6A2346;
}

.hero__btn:hover {
    color: #be1768;
    border-color: #be1768;
}

@media(max-width: 1280px) {
    .hero__img {
        max-width: 375px;
        max-height: 563px;
    }
}

@media (max-width: 900px) {
    .hero {
        padding-top: 59px;
        position: relative;
    }

    .hero__img {
        margin-left: auto;
        margin-right: auto;
        max-width: 343px;
        max-height: 515px;
    }

    .hero__info {
        position: absolute;
        max-width: none;
        left: 0;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
        top: 0;
    }

    .hero__mini__title {
        justify-content: center;
        margin-bottom: 4px;
        width: 100%;
        display: flex;
    }

    .hero__title {
        text-align: center;
        line-height: 50px;
    }

    .hero__text {
        font-size: 17px;
        line-height: 29.87px;
        text-align: center;
    }

    .hero__btn {
        display: none;
    }
}

/* === HERO STYLES END === */
/* === COLLECTION STYLES START === */

.collection {
    padding: 50px 0;
    background: #2b2c30;
}

.collection__container {
    max-width: 1244px;
    align-items: center;
    gap: 50px;
    justify-content: start;
}

.collection__info {
    max-width: 590px;
}

.collection__btn {
    font-family: Ponnala, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 42.16px;
    color: #fff;
    border-bottom: 2px solid white;
}

.collection__btn:hover {
    color: #d77bee;
    border-color: #d77bee;
}

@media(max-width:900px) {
    .collection {
        padding-top: 140px;
        position: relative;
    }

    .collection__info {
        position: absolute;
        left: 0;
        top: 84px;
        max-width: none;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
    }

    .collection__btn {
        display: none;
    }
}

/* === COLLECTION STYLES END === */
/* === DIOR TEXT STYLES === */

.dior {
    padding: 16px;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: #F2E7E7;
}

.dior1 {
    padding: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #F2E7E7;
}

.dior__title {
    font-family: Proza Libre, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.36px;
    color: #D1808F;
}

@media (max-width: 1280px) {
    .dior {
        display: flex;
    }
}

@media (max-width: 900px) {
    .dior__title {
        font-size: 13px;
    }
}

/* === DIOR TEXT STYLES END === */
/* === BRENDS STYLES START === */

.brends {
    padding: 167px 0 50px 0;
}

.brends__container {
    max-width: 996px;
}

.brends__mini__title {
    font-family: Proza Libre, sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    line-height: 16.29px;
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
}

.brends__title {
    font-family: Proza Libre, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 54.3px;
    color: black;
    text-align: center;
    margin-bottom: 9px;
}

.brends__text {
    font-family: Proza Libre, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.48px;
    margin-bottom: 95px;
    text-align: center;
}

.brends__card__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 47px;
    row-gap: 37px;
}

.brends__card {
    position: relative;
    max-width: 294px;
    max-height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 36px;
}

.brend__card__text {
    position: absolute;
    bottom: 22px;
    left: 23px;
    font-family: Proza Libre, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.65px;
    color: white;
}

.brends__btn {
    padding: 13px 35px;
    color: white;
    font-family: Ponnala, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22.84px;
    display: none;
    background: #D1808F;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #D1808F;
    width: 122px;
    height: 39px;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1280px) {
    .brends {
        padding: 75px 0 126px 0;
    }

    .brends__text {
        margin-bottom: 95px;
    }
}

@media (max-width: 768px) {
    .brends__card__box {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 25px;
        column-gap: 11px;
        row-gap: 18px;
    }

    .brends {
        padding: 59px 0 99px 0;
    }

    .brends__btn {
        display: flex;
    }

    .brend__card__text {
        font-size: 10px;
    }

    .brends__btn:hover {
        background: transparent;
        border: 2px solid #D1808F;
        color: #D1808F;
    }
}

/* === BRENDS STYLES END === */
/* === BEST STYLES START === */

.best {
    padding: 212px 0 42px 0;
}

.best__container {
    max-width: 996px;
}

.best__mini__title {
    font-family: Proza Libre, sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    line-height: 16.29px;
    color: black;
    margin-bottom: 9px;
    display: none;
}

.best__tittle {
    font-family: Proza Libre, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 54.3px;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
    display: none;
}

.best__text {
    font-family: Proza Libre, sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    line-height: 20.48px;
    margin-bottom: 44px;
    display: none;
}

.best__cards__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 47px;
    row-gap: 40px;

}

.best__card {
    max-width: 294px;
    max-height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
}

.best__card__text {
    font-family: Proza Libre, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.65px;
    color: #fff;
    position: absolute;
    bottom: 19px;
    left: 23px;
}

@media (max-width: 1280px) {
    .best {
        padding: 40px 0 40px 0;
    }

    .best__mini__title,
    .best__tittle,
    .best__text {
        display: flex;
    }
}

@media (max-width: 900px) {
    .best {
        padding: 70px 0 61px 0;
    }

    .best__tittle {
        font-size: 30px;
    }

    .best__text {
        font-size: 13px;
        line-height: 17.75px;
        margin-bottom: 56px;
    }

    .best__cards__container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }


}

@media(max-width: 768px) {
    .best__cards__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 11px;
        row-gap: 18px;
        margin-bottom: 25px;
    }

    .best__card__text {
        font-size: 10px;
    }
}

/* === BEST STYLES END === */
/* === PARTNERS STYLES START === */

.partners {
    padding: 42px 0 121px 0;
}

.partners__container {
    max-width: 1024px;
}

.partners__mini__title {
    font-family: Proza Libre, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.29px;
    justify-content: center;
    margin-bottom: 9px;
}

.partners__title {
    font-family: Proza Libre, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 54.3px;
    margin-bottom: 9px;
    justify-content: center;
}

.partners__text {
    font-family: Proza Libre, sans-serif;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.48px;
    margin-bottom: 82px;
}

.partners__icon__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 109px;
    row-gap: 75px;
}

.partners__icon {
    max-width: 167px;
    max-height: 169px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 900px) {
    .partners {
        padding: 61px 0 40px 0;
    }

    .partners__icon__box {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }

    .partners__icon {
        max-width: 135px;
        max-width: 135px;
    }

    .partners__title {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    .partners__text {
        font-size: 13px;
        margin-bottom: 42px;
    }
}

@media (max-width: 710px) {
    .partners__icon__box {
        grid-template-columns: repeat(2, 1fr);
    }
}

html {
    cursor: url('../cursor.svg'), default !important;
}

/* === PARTNERS STYLES END === */
/* === FOOTER STYLES START === */

.footer {
    padding: 51px 0 34px 0;
    background: #d1808f;
}

.footer__container {
    max-width: 1244px;
    padding-left: 34px;
}

.footer__logo {
    width: 141px;
    height: 45px;
    display: flex;
    margin-bottom: 32px;
}

.footer__list__box {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 145px;
    margin-bottom: 96px;
}

.list__title {
    font-family: Poppins, sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 28.5px;
    margin-bottom: 15px;
    color: #7c3838;
}

.footer__link {
    font-family: Ponnala, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #7C3838;
    line-height: 29.87px;
    margin-bottom: 16px;
    display: inline-flex;
    cursor: url("../pointer.svg"), default;
}

.footer__signUp {
    max-width: 477px;
    width: 100%;
}

.footer__text {
    font-family: Ponnala, sans-serif;
    font-size: 14px;
    line-height: 24.6px;
    margin-bottom: 7px;
    color: #7c3838;
}

.register__form {
    padding: 7px 13px 6px 25px;
    background: #f2e7e7;
    max-width: 477px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    border: 1px solid #6A2346;
    border-radius: 9px;
    margin-bottom: 7px;
}

.register__inp {
    background: transparent;
    border: none;
    outline: none;
    color: #5e2626;
    font-family: Ponnala, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.6px;
}

.register__inp::placeholder {
    color: #7C3838;
}

.register__btn {
    font-family: Ponnala, sans-serif;
    color: #fff;
    background: #d1808f;
    padding: 11px 19px;
    border-radius: 10px;
    display: inline-flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.6px;
}

.web__address__box {
    display: flex;
    gap: 7px;
}

.web__link {
    width: 53px;
    height: 53px;
    padding: 7px;
    transition: all 0.3s;
    align-items: center;
    border: 2px solid transparent;
    justify-content: center;
    border-radius: 50%;
}

.web__link:hover {
    border: 2px solid #6A2346;

}

.foter__icon {
    padding: 10px;
    background: #6a2346;
    border-radius: 50%;
}

.footer__line {
    bottom: 109px;
    display: flex;
    width: 100%;
    border: 0.5px solid #6A2346;
    height: 0;
    left: 0;
}

.footer__bottom {
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-family: Ponnala, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    color: #7c3838;
}

.footer__bottom__icons {
    display: flex;
    gap: 23px;
}

.fb__icon {
    display: flex;
    width: 76px;
    height: 43px;
}

.bitcoin {
    display: flex;
    width: 76px;
    height: 43px;
    padding: 10px 29px;
    background: #F7931A;
    border-radius: 9px;
}

@media(max-width: 900px) {
    .footer__list__box {
        flex-wrap: wrap;
        row-gap: 53px;
        margin-bottom: 131px;
    }

    .register__inp {
        font-size: 12px;
    }

    .register__form {
        padding: 11px 13px 11px 18px;
    }

    .register__btn {
        font-size: 10px;
        padding: 9px 17px;
        line-height: 17px;
    }

    .footer__line {
        bottom: 180px;
    }

    .footer__bottom {
        flex-direction: column;
    }

    .footer__bottom__icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 23px;
        row-gap: 26px;
    }

    .copyright{
        margin-bottom: 18px;
    }

    .footer{
        padding-bottom: 17px;
        padding-top: 24px;
    }
}